body {
	background-color: #fff;
}

header {
	background-color: #f1f5f7;
	display: flex;
	flex-direction: column;
	padding-bottom: 65px;
}

.user-navigation {
	background-color: #293449;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.user-navigation li {
	float: left;
	list-style-type: none;
	align-self: center;
}

.user-navigation a {
	text-decoration: none;
	color: #ffffff;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 23px;
}

.header-logo {
	width: 220px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.logo {}

.search-field {
	width: 270px;
}

.search {
	color: #ffffff;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 23px;
}

.header-button {
	width: 150px;
}

.header-button a {}

.header-button:hover {
	background-color: #212a3a;
}

.heder-button:active {
	background-color: #212a3a;
}

.header-button-chekout {
	width: 150px;
	background-color: #63a63e;
}

.header-button-chekout a {}

.header-button-chekout:hover {
	background-color: #5fbb2d;
}

.header-button-chekout:active {
	background-color: #518534;
}

.heder-registration {
	display: flex;
	justify-content: center;
	padding-top: 45px;
	padding-bottom: 45px;
	align-items: center;
}

.h1-container {
	width: 250px;
}

.site-discription {
	color: #ee3643;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-style: italic;
	font-size: 21px;
	line-height: 31px;
}

.header-addres {
	width: 300px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 19px;
	color: #32425c;
	line-height: 40px;
	padding-left: 68px;
	padding-right: 68px;
}

.phone-number {
	font-size: 28px;
	color: #e9292a;
	border: 3px solid #fff;
}

.unauthorized {
	width: 280px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.user-identification li {
	float: left;
	list-style-type: none;
}

.user-identification a {
	text-decoration: none;
	color: #000;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 28px;
}

.enterbtn {
	width: 120px;
	background-color: #ffffff;
}

.regbtn {
	width: 150px;
	background-color: #ffffff;
}

.main-navigation li {
	float: left;
	list-style-type: none;
}

.main-navigation {
	width: 940px;
	background-color: #32425c;
	box-shadow: 0 5px 0 0 #293449;
	align-self: center;
}

.nav-item {
	font-family: "Cuprum", "Arial", sans-serif;
	text-decoration: none;
	font-size: 23px;
	color: #ffffff;
	width: 14%;
}

.nav-item:hover {
	background-color: #293449;
}

.nav-item a {
	font-family: "Cuprum", "Arial", sans-serif;
	text-decoration: none;
	font-size: 23px;
	color: #ffffff;
}

.vissualy-hidden {
	display: none;
}

.location {
	display: flex;
	justify-content: center;
	padding-bottom: 90px;
}

.aboutsection {
	width: 540px;
}

.aboutsection h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: normal;
	font-size: 30px;
}

.aboutsection p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 32px;
}

.aboutsection li {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 2.5em;
}

.redbutton {
	width: 220px;
	background-color: #ee3643;
}

.redbutton a {
	font-family: "Cuprum", "Arial", sans-serif;
	text-decoration: none;
	font-size: 19px;
	color: #ffffff;
}

.mapsection {
	width: 300px;
}

.mapsection h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: normal;
	font-size: 30px;
}

.mapsection p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 32px;
}

.footer-menu {
	width: 100%;
	background-color: #32425c;
	display: flex;
	justify-content: space-around;
}

.side-footer-menu {
	display: flex;
	flex-direction: column;
}

.footer-addres {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	line-height: 32px;
	color: #ffffff;
	width: 440px;
}

.footer-navigation li {
	float: left;
	list-style-type: none;
}

.footer-offer li {
	float: left;
	list-style-type: none;
}

.footer-navigation a {
	text-decoration: none;
	color: #ffffff;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
}

.footer-offer a {
	text-decoration: none;
	color: #ffd180;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
}

.footer-info {
	width: 100%;
	background-color: #293449;
	display: flex;
	justify-content: space-around;
}

.footer-info p {
	text-decoration: none;
	color: #ffffff;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	line-height: 24px;
}

.footer-info li {
	float: left;
	list-style-type: none;
}

.links a {
	text-decoration: none;
	color: #ffd180;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
}
